body {
  background-color: #3680f9;
  width: 100%;
  height: 100vh;
}

hr {
  width: 25px;
  border: 1px solid yellow;
  /* margin-top: 50px; */
}

h1,
p,
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: lighter;
}

.parent {
  background-color: white;
  border: 1px solid #3680f9;
  width: 60%;
  margin: 55px auto;
  padding: 30px;
  box-sizing: border-box;
}

#img-child,
.img-parent,
.img-grandparent {
  margin: 0px;
  padding: 0px;
}

.img-grandparent {
  border: 1px solid #000;
  height: 150px;
  width: 150px;
  background-color: #3680f9;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 10px 5px;
}

#img-child {
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 10px 5px inset;
  left: 20px;
  top: 5px;
}

.img-parent {
  height: 110px;
  width: 110px;
  background-color: #3680f9;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 10px 5px;
  left: -15px;
  top: 5px;
}

.god {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.god > p {
  width: 50%;
  font-weight: 200;
}

h2 {
  width: fit-content;
  color: rgba(54, 129, 249, 0.717);
  text-align: left;
  font-weight: 800;
  margin: auto;
}

span {
  margin-left: 55px;
  color: black;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
  font-size: 10px;
}
