* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100vh;
}

.parent {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 15px;
}

.page1 {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.page2 {
  border: 1px solid black;
  width: fit-content;
  line-height: 50px;
}

.page1,
.page2 {
  padding: 20px;
  margin: 10px;
}
