ul {
  display: flex;
  background-color: black;
  justify-content: space-around;
}

ul > li {
  display: inline-block;
  color: white;
  margin: 10px;
  padding: 10px;
}


li:hover{
    color:lime;
}

select{
  border-radius: 15px;
}